
    <div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
      <div class="main-menu-header">
        <input type="text" placeholder="Search" class="menu-search form-control round"/>
      </div>
      <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
            <li class="active">
                <a href="/home">
                    <i class="icon-home4"></i>
                    <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">
                        Dashboard
                    </span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="/chat">
                    <i class="icon-comments"></i>
                    <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">
                        Chat
                    </span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="/sms">
                    <i class="icon-send"></i>
                    <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">
                        SMS
                    </span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="/students">
                    <i class="icon-user4"></i>
                    <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">
                        Students
                    </span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="/assignments">
                    <i class="icon-book2"></i>
                    <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">
                        Assignments
                    </span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="/discussions">
                    <i class="icon-bookmark3"></i>
                    <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">
                        Discussions
                    </span>
                </a>
            </li>
        </ul>
      </div>
    </div>